html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff; /* Ensure the body has a white background */
    color: #000;
    font-family: Arial, sans-serif;
  }
  
  main {
    padding: 2rem; /* Adjust padding as needed */
    background-color: #f9f9f9; /* Set a background color for the main area */
    min-height: 100vh; /* Ensure main takes up the full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  