# Ignore environment files
*.env

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore node modules
node_modules/

# Ignore logs
*.log

# Ignore virtual environment directories
venv/
.venv/

# Ignore Docker related files
docker-compose.override.yml
docker-compose.debug.yml

# Ignore macOS system files
.DS_Store

# Ignore Visual Studio Code workspace settings
.vscode/
